<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Smart Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
	<!-- <script src="main.js"></script> -->
</head>

<body>
	<h1>Hello {{ name }}!</h1>

	<!-- monitor the temperature and humidity in the house remotely via smart devices at all times.
		Homeowners can be alerted when the temperature exceeds a set threshold value.
		Homeowners can control the air-conditioner remotely via smart devices.

		Homeowners can use a smart device to remotely turn on the fan if the temperature is relatively
		high during the day in order to cool up the house before reaching home. -->
	<div class="data">

	</div>

	<div class="controls">
		<div id="fan-mode">
			<pre>
			<span id="fan-cur-mode">Current mode: {% if mode == 'man' %} Manual {% else %} Auto {% endif %}</span>
			Set mode:
				<button onclick="setMode('auto')">Auto</button>
				<button onclick="setMode('man')">Manual</button>
			</pre>
		</div>
		{% if mode == 'man' %}
		<div id="fan-man-controls">
			<span id="fan-cur-state">Current status of fan: {% if state == 'on' %} On {% else %} Off {% endif %}</span>
			Control the fan by setting it to either on or off.
				<button onclick="manControl('on')">On</button>
				<button onclick="manControl('off')">Off</button>
		</div>
		{% endif %}
	</div>

</body>

</html>